.form-group
  = f.label :name
  = f.text_field :name, class: "form-control"

= f.fields_for :current do |v|
  .form-group
    = v.label :body
    = v.text_area :body, class: "form-control"

= f.save 'Save'
