.row
  .col-xs-2
    - if @note.user == current_user
      = link_to 'Edit', edit_note_path(@note), class: "btn btn-primary btn-block"

  .col-xs-10
    %h3.panel-title= @note.name
    .panel-detail.panel-detail.padded
      By
      = link_to @note.user.login, user_path(@note.user.login)
      - if @note.user.full_name?
        (#{@note.user.full_name})
    .panel-detail.panel-detail-padded
      Updated #{time_ago_in_words @note.current.created_at} ago
    %hr
    %pre#highlightable.pre-simple
      %span= h(@note.body)
