- sidebar do
  = image_tag(@user.avatar.url(:medium))

  %h3 Documents
  %ul
    %li= link_to 'Create Document', new_account_note_path
    %li= link_to 'Edit Documents' , account_notes_path

  %h3 Account
  %ul
    %li= link_to 'Edit your information', edit_account_path

#main-content
  .user-description
    %h1 Dashboard
    #user-description= safe_simple_format(current_user.description)

    %h2== Your Documents (#{link_to 'view all' , account_notes_path})
    = notes_list(current_user.notes)
