#navigation
  #global-links
    %ul
      %li= link_to 'litterary', root_path
      %li= link_to 'documents', notes_path
      %li= link_to 'people', users_path
  #user-links
    %ul
      - if user_signed_in?
        %li= link_to current_user.login, user_path(current_user.login)
        %li= link_to 'my account' , account_path
        %li= link_to 'my documents' , account_notes_path

        %li= link_to "Log out", destroy_user_session_path

      - else
        %li= link_to 'login' , new_session_path(:user)
        %li= link_to 'sign up' , new_registration_path(:user)
