.navbar
  .navbar-inner
    %ul.nav
      %li= link_to 'litterary', root_path

    %ul.nav.pull-right
      - if user_signed_in?
        %li= link_to current_user.login, account_path
        %li= link_to "log out", destroy_user_session_path
      - else
        %li= link_to 'login' , new_session_path(:user)
        %li= link_to 'sign up' , new_registration_path(:user)
