!!!
%html(ng-app="Litterary")
  %head= render :partial => 'layouts/head'
  %body{:id => controller_name, :class => controller.action_name}
    .container
      = render :partial => 'layouts/navigation'

    .container
      = render :partial => 'layouts/flash'
      = yield :user_information
      = yield
    = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascripts'
