!!!
%html
  %head= render :partial => 'layouts/head'
  %body{:id => controller_name, :class => controller.action_name}
    = render :partial => 'layouts/navigation'

    = render :partial => 'layouts/flash'
    = yield :user_information
    #content= yield
    = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascripts'
